<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.qa.banking.ExtentReportListener.ExtentReporterNG" />
    </listeners>
    <test verbose="2" name="C:/Users/USER/IdeaProjects/MyMavenProject">
        <classes>
            <!--<class name="com.qa.banking.TestCases.HomePageTest">
                      <methods>
                          <include name="verifyAccountsOverview"/>
                      </methods>
                  </class> -->
                  <class name="com.qa.banking.TestCases.LoginPageTest">
                      <methods>
                          <include name="loginPageTitleTest"/>
                          <include name="bankingPageLogoTest"/>
                          <include name="loginTest"/>
                      </methods>
                  </class>
                  <class name="com.qa.banking.TestCases.RegisterPageTest">
                      <methods>
                          <include name="newuserregistration"/>
                      </methods>
                  </class>
                  <class name="com.qa.banking.TestCases.APITest">
                      <methods>
                          <include name="testGetRequest"/>

                      </methods>
                  </class>
              </classes>
          </test>
      </suite>